/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    background: #b2bec3;
    font-size: 18px;
}

.vizitka {
    background-color: white;
    width: 550px;
    margin: 150px auto;
    padding: 30px;
    border-radius: 10px;

    position: relative;
}

.foto {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    right: -75px;
    top: -75px;
}

.nadpis {
    font-size: 36px;
    font-weight: bold;
    color: #d63031;
}

.tlacitko {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.twitter {
    background-color: #1da1f2;
}

.facebook {
    background-color: #3b5998;
}

